# Data manipulation and analysis
pandas==1.5.3
numpy==1.23.5

# Data visualization
matplotlib==3.6.2
seaborn==0.12.1

# Machine learning libraries
scikit-learn==1.1.3
xgboost==1.7.5

# Deep learning framework
tensorflow==2.10.0

# Handling imbalanced datasets
imbalanced-learn==0.9.1

# Jupyter Notebook for interactive coding
jupyter==1.0.0
